@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap'); 

.bg{
    /* margin-top: 10%; */
    /* padding-top: 10%; */
    background-image: url('../../../public/images/Biblography.jpg');
    height: 105vh;
    background-size: cover;
    font-family:Roboto
}


.head{
    /* margin-top: 10%; */
    /* font-size:70px; */
    


}


h1{
    /* padding-top: 10%; */
    font-size:40
}

.box{
    border: 1px solid white;
}

button{
    color: rgb(13, 8, 8);
    font-weight: 500;
    margin-left: 15%;
    width: 70%;
    opacity: 30%;
    border-radius: 15px;
}