@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap'); 


.first {
    background-image: url('../../../public/images/Homepage\ -\ Copy.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

/* For mobile view */
@media (max-width: 768px) {
    .first {
        background-size: contain; 
        background-position: top; 
        height: auto; 
    }
    
    .container {
        padding: 20px;
        text-align: center;
    }

    .sasi, .buji {
        margin-bottom: 10px;
    }
}

.second{

    display: flex;
    flex-direction:row;
    justify-content: end;
  

}

.sasi{
    margin-left: 55%;
}

/* .buji{
    font-size: 10vh;
} */


