.jaipur{

    /* background-image: url('../../../public/images/jaipur.jpg'); */
    height: 100vh;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; */
}